name: Style Check

on:
  push:
    branches-ignore: 
      - main
      - dev

jobs:
  java-style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: 'temurin'
      - name: Run Google Java Format
        uses: axel-op/googlejavaformat-action@v4
        with:
          args: "--replace --aosp"
          commit-message: "chore: Java 스타일 수정"
